---
import type { Params } from "astro";
import { getRoadmapIds, type RoadmapFrontmatter } from "../../lib/roadmap";
import type { Phase, Subtopic, Topic } from "../../lib/type";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleHeader from "../../components/ArticleHeader.astro";
import ContentWrapper from "../../components/ContentWrapper.astro";
import RoadmapModal from "../../components/RoadmapModal/RoadmapModal";

export async function getStaticPaths() {
  const roadmapIds = await getRoadmapIds();

  return roadmapIds.map((roadmapId) => ({
    params: { roadmapId },
  }));
}

const { roadmapId } = Astro.params as Params;

let roadmapData: RoadmapFrontmatter | null = null;
let roadmapJsonData: Phase[] | null = null;
let error: Error | null = null;

try {
  const roadmapFile = await import(
    `../../data/roadmaps/${roadmapId}/${roadmapId}.md`
  );
  roadmapData = roadmapFile.frontmatter as RoadmapFrontmatter;

  const roadmapJson = await import(
    `../../data/roadmaps/${roadmapId}/${roadmapId}.json`
  );
  roadmapJsonData = roadmapJson.default as Phase[];
} catch (e) {
  error = e instanceof Error ? e : new Error("An unknown error occurred");
  console.error(`Error loading roadmap data for ${roadmapId}:`, error);
}

if (error || !roadmapData) {
  return Astro.redirect("/404");
}
---

<MainLayout
  type="roadmapReader"
  title={roadmapData.title}
  description={roadmapData.description}
  documentationLink={roadmapData.documentationLink}
  githubLink={roadmapData.github}
>
  {
    roadmapJsonData &&
      roadmapJsonData.map((phase: Phase) => (
        <>
          <div class="space-y-2 sm:space-y-10 mb-14">
            <ArticleHeader step={phase.phase_name} />
            <ContentWrapper class="mb-8 text-white">
              <ol class="relative">
                {phase.topics.map((topic: Topic) => (
                  <li class="mb-5">
                    {/* <div class="absolute w-2 h-2 bg-gray-500 rounded-full mt-2 -start-[4.5px] border border-gray-900 hidden md:block" /> */}
                    <h3
                      class="pt-1 mb-1 text-base font-normal leading-none text-white topic-title cursor-pointer hover:underline"
                      data-roadmap-id={roadmapId}
                      data-topic-id={topic.topic_id}
                    >
                      {topic.topic_name}
                    </h3>
                    {topic.subtopics && (
                      <ul class="list-disc list-inside text-sm space-y-2 mt-3 ">
                        {topic.subtopics.map((subtopic: Subtopic) => (
                          <li
                            class="topic-title cursor-pointer hover:underline"
                            data-roadmap-id={roadmapId}
                            data-topic-id={subtopic.subtopic_id}
                          >
                            {subtopic.subtopic_name}
                          </li>
                        ))}
                      </ul>
                    )}
                  </li>
                ))}
              </ol>
            </ContentWrapper>
          </div>

          <RoadmapModal client:load />
        </>
      ))
  }
</MainLayout>

<script>
  import { useModalStore } from "../../stores/modalStore";

  document.addEventListener("DOMContentLoaded", () => {
    const { openModal } = useModalStore.getState();

    document.querySelectorAll(".topic-title").forEach((topicElement) => {
      topicElement.addEventListener("click", () => {
        const roadmapId = topicElement.getAttribute("data-roadmap-id");
        const topicId = topicElement.getAttribute("data-topic-id");

        if (!roadmapId || !topicId) {
          console.error("Missing roadmapId or topicId");
          return;
        }
        openModal(roadmapId, topicId);
      });
    });
  });
</script>
