---
import { SITE_TITLE, SITE_DESCRIPTION, SITE_URL } from "../constants";
import FixedSidebar from "@components/FixedSidebar/FixedSidebar.astro";
import Intro from "@components/Intro.astro";
import IntroFooter from "@components/IntroFooter.astro";
import Timeline from "@components/Timeline.astro";
import RoadMapIntro from "@components/RoadMapIntro.astro";

import "@fontsource/poppins";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";

type LayoutType = "default" | "roadmapReader";

interface Props {
  type?: LayoutType;
  title?: string;
  icon?: string;
  description?: string;
  documentationLink?: string;
  githubLink?: string;
}

const {
  type = "default",
  title = SITE_DESCRIPTION,
  icon,
  description,
  documentationLink,
  githubLink,
} = Astro.props;

const pageTitle = `${SITE_TITLE} - ${title}`;
---

<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>{pageTitle}</title>
    <meta name="description" content={SITE_DESCRIPTION} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={SITE_URL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={SITE_DESCRIPTION} />
    <meta property="og:image" content="/open-graph.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="web3roadmap.com" />
    <meta property="twitter:url" content={SITE_URL} />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={SITE_DESCRIPTION} />
    <meta name="twitter:image" content="/open-graph.png" />
  </head>
  <body class="flex min-h-full flex-col bg-gray-950">
    <Fragment>
      <FixedSidebar>
        {
          type === "default" ? (
            <Intro slot="main" />
          ) : (
            <RoadMapIntro
              icon={icon}
              title={title}
              description={description}
              documentationLink={documentationLink}
              githubLink={githubLink}
              slot="main"
            />
          )
        }
        <IntroFooter slot="footer" />
      </FixedSidebar>
      <div class="relative flex-auto">
        <Timeline />
        <main class="py-20 sm:py-32">
          <slot />
        </main>
      </div>
    </Fragment>
    <style is:global>
      /* Improve Page Speed */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
